.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#area-title {
    margin-bottom: 1em;
    background-color: mediumseagreen;
}

#area-scoreboard {
    margin-bottom: 1em;
    background-color:palevioletred;
}

#scoreboard {
    font-size: large;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 1em;
}

.score-counter{
    padding: 5px 20px;
}

#area-playarea {
    background-color: lightskyblue;
}

.profile-background {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#choice-display{
    margin: 0 1em;
    font-size: large;
}

.playerchoice {
    background-color: white;
    border-radius: 20px;
    margin: 0px 10px;
    min-height: 2em;
    min-width: 6em;
}

.button-wrap {
    height: 2em;
    width: 20em;
    margin: 10px 0px;
}
