div .centered {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title {
    margin-bottom: 2em;
    background-color: mediumseagreen;
}

#scoreboard {
    margin-bottom: 1em;
    background-color:palevioletred;
}

#playarea {
    background-color: lightskyblue;
}

.profile-background {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-icon {
}
