body {
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.capitalize {
    text-transform: capitalize;
}

.title-wrapper {
    font-size: 32px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.title-wrapper .title {
    background-color: mediumseagreen;
    padding: 1em 2em;
    border-radius: 0.5em;
}

.scoreboard-wrapper {
    font-size: 24px;
    margin-bottom: 1em;
}

.scoreboard {
    background-color:palevioletred;
    padding: 0.5em 4em;
    border-radius: 0.5em;
}

.scoreboard-wrapper .title {
    margin-bottom: 0.5em;
}

.display {
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 1em 0;
}

.score-counter{
    padding: 0 2em;
}

.playarea-wrapper {
    margin-bottom: 20px;
}

.playarea {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button-wrapper {
    background-color: rgb(228, 163, 41);
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.player-card {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 20px;
}

.profile-background {
    background-color: hsl(0, 100%, 60%);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-display{
    background-color: lightskyblue;
    font-size: large;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.playerchoice {
    background-color: white;
    border-radius: 20px;
    min-height: 2em;
    min-width: 6em;
    font-family: sans-serif;
}
